/* Copyright 2026 tagre.pe
 * License LGPL-3.0 or later (https://www.gnu.org/licenses/lgpl). */

.o_field_l10n_pe_vat_consult {
    display: inline-flex;
    align-items: center;

    .o_l10n_pe_vat_consult_btn {
        padding: 0 4px;
    }
}
